
.block_reseaux_sociaux{
max-width: 15%;
display: flex ;
justify-content: space-around;
}

.content_footer{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.content_mentions_legales{
    display: flex;
    justify-content: space-around;
}

.nos_reseaux_et_images_reseaux{
max-width: 42%;
display: flex;
justify-content: space-around;
margin-top: 40px;
}

.content_mentions_legales{
    margin-top: 40px;
}

.block_footer{
width: 100%;
margin-top: 400px;
background-color: rgb(249, 223, 254);
}
