.titre_page_inscription{
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.texte_accroche_page_inscription{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.texte_inscription{
    max-width: 40%;
    margin-top: 20px;
    letter-spacing: 2px;
}

.deja_un_compte{
    display: flex;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20px;
}

.image_inscription{
    width: 500px;
    position: absolute;
    left: 60%;
    top: 40%;
}

.block_inscription{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin-left: 20px;
}

.input_inscription{
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
}

.boutton_inscription{
    margin-top: 30px;
    max-width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: none;
}
